.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.header-menu li a:hover{
    color: var(--orange);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header>:nth-child(2){
        display: none;
    }

    .logo{
        margin: 0 auto;
    }
}